@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playpen+Sans&family=Roboto:wght@300&display=swap');

:root{
    --white: #ffffff;
    --primary-color : #48D1CC;
    --text-dark: black;
    --text-light: #338a87;
    --dark-green:  #194948;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    top: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: sticky;
}

.nav_logo{
    font-family: "Playpen Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    user-select: none;
}

.nav_links{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--white);
    font-style: normal;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.nav_links a {
    color: var(--white);
}

.nav_links a:hover{
    text-decoration-line: none;
    color:rgb(162, 162, 162);
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}